/dist/
/node_modules/
/out/
/.vscode-test/
/.nyc_output/
/coverage/
*.vsix
pnpm-debug.log
.eslintcache

# Webview packages build artifacts
packages/*/node_modules/
packages/*/dist/
packages/*/*.tsbuildinfo
