name: ci

on:
  push:
    branches:
      - main

  pull_request:

  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '16'

      - run: yarn

      - run: yarn lint

  test:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '16'

      - run: yarn

      - run: yarn test:ci
