on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

name: Lint Extension

jobs:
  lint:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '16'

      - run: npm ci

      - run: npm run lint
